.product-list-container {
  .filter-field {
    width: 100%;
    margin-bottom: 16px;
  }

  .products-table {
    width: 100%;
    background: transparent;

    .mat-column-className {
      width: 25%;
    }

    .mat-column-categories {
      width: 15%;
      padding: 0 8px;

      .category-list {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .mat-column-maxStock {
      width: 5%;
      text-align: start;
    }

    .mat-column-buyPrice,
    .mat-column-sellPrice {
      width: 10%;
      text-align: start;
    }

    .mat-column-actions {
      width: 15%;
      text-align: end;
      padding-right: 16px;
    }

    // Header Styling
    .mat-header-cell {
      font-size: 14px;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.87);
      padding: 0 8px;
    }

    // Cell Styling
    .mat-cell {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.87);
      padding: 0 8px;
    }
  }
}

:host ::ng-deep {
  .mat-mdc-table {
    background: transparent;
  }

  .mat-mdc-row:hover {
    background: rgba(255, 255, 255, 0.04);
  }
}
