<div class="category-editor-container">
  <div class="header">
    <div class="header-left">
      <h2>Category Editor</h2>
      <div class="header-buttons">
        <button mat-raised-button color="primary" (click)="addCategory()">
          <mat-icon>add</mat-icon>
          Add Category
        </button>
        <button mat-flat-button color="primary" routerLink="/file-management">
          <mat-icon>upload_file</mat-icon>
          Import Categories
        </button>
      </div>
    </div>
    <div class="header-right">
      <!-- Collapsible Danger Zone (default collapsed) -->
      <div class="danger-zone-container">
        <mat-expansion-panel class="danger-zone-panel" [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Danger Zone
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="danger-zone-content">
            <button mat-flat-button color="warn" (click)="removeAllCategories()">
              <mat-icon>delete_forever</mat-icon>
              Remove All Categories
            </button>
            <button mat-flat-button color="warn" (click)="toggleAllCategoriesVisibility()">
              <mat-icon>visibility</mat-icon>
              Toggle All Visibility
            </button>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </div>

  <!-- Grid container for category cards -->
  <div class="category-grid">
    <div *ngFor="let categoryControl of categoriesControls; let i = index" [formGroup]="categoryControl">
      <mat-card>
        <!-- Toggle container in the top right corner -->
        <div class="toggle-container">
          <mat-slide-toggle formControlName="isVisible">Visible</mat-slide-toggle>
        </div>
        <mat-card-title>
          Category:
          <input matInput formControlName="categoryName" placeholder="Category Name">
        </mat-card-title>
        <mat-card-content>
          <div>
            <mat-label>Icon</mat-label>
            <input matInput formControlName="icon" placeholder="Icon name">
          </div>
          <div>
            <mat-label>Products (comma separated IDs)</mat-label>
            <!-- Changed to textarea -->
            <textarea matInput formControlName="productIds"
              placeholder="e.g., prod_m4a1_001, prod_pistol_002"></textarea>
          </div>
          <div>
            <mat-label>Licenses Required (comma separated)</mat-label>
            <input matInput formControlName="licensesRequired" placeholder="e.g., license_A, license_B">
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="warn" (click)="removeCategory(i)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>