.objects-section {
  grid-column: span 2;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

:host ::ng-deep .mat-mdc-row {
  &:hover {
    background-color: var(--brush-hover-overlay);
  }
}
