<div class="navigation-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      mode="side"
      [opened]="true"
      class="sidenav"
      [ngClass]="isExpanded() ? 'expanded' : 'collapsed'"
    >
      <div class="sidenav-wrapper">
        <div class="sidenav-content custom-scrollbar">
          <mat-nav-list>
            @for (item of navItems; track item.route) {
            <button
              mat-stroked-button
              [routerLink]="item.route"
              routerLinkActive="active-link"
              [matTooltip]="!isExpanded() ? item.label : ''"
              matTooltipPosition="right"
              class="nav-item"
            >
              <div class="nav-item-content">
                <div class="nav-icon-wrapper">
                  <mat-icon>{{ item.icon }}</mat-icon>
                </div>
                @if (isExpanded()) {
                <span class="nav-item-label">{{ item.label }}</span>
                }
              </div>
              <div class="nav-item-active-indicator"></div>
            </button>
            }
          </mat-nav-list>
        </div>

        @if (isExpanded()) {
        <!-- <div class="sidenav-footer">
        </div> -->
        }
      </div>
    </mat-sidenav>

    <mat-sidenav-content [ngClass]="getContentClass()">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
